.navbar,
footer {
  background-color: #2c3e50;
}
.my-icon {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.footer-feet {
  background-color: #1a252f;
}
header,
.about {
  background-color: #1abc9c;
}
.stars {
  position: relative;
}
.stars::after {
  position: absolute;
  content: "";
  top: 30%;
  left: 55%;
  height: 3px;
  width: 35%;
  background-color: #fff;
}
.stars::before {
  position: absolute;
  content: "";
  top: 30%;
  right: 55%;
  height: 3px;
  width: 35%;
  background-color: #fff;
}
.portfolio h2,
.contact h2 {
  color: #2c3e50;
}
.portfolio-item {
  position: relative;
}
.plus {
  position: absolute;
  inset: 0;
  background-color:#1abc9c ;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 1s all;
  cursor: pointer;
}
.fa-plus{
    font-size: 70px;
    font-weight: bolder;
    color: #fff;

}
.portfolio-item:hover .plus{
    opacity: 1;

}
.send, .send:hover{
  color: #fff;
  background-color: #1abc9c;
}